@import '../../common/styles/common.module.scss';
@import '../../common/styles/colors.module.scss';

.nav {
  padding-top: 38px;

  @media (max-width: 767px) {
    padding-top: 20px;
  }
}

.logo {
  background-image: url(../../assets/logo_white.png);
  background-repeat: no-repeat;
  background-size: 100%;
  height: 45px;
  width: 257px;
}

.mobileNavWrapper {
  display: flex;

  button {
    color: $white;
    border: none;
    margin-right: 30px;
  }
}

:global(.navbar) {
  a {
    color: $white !important;
  }
}

:global(.navbar-light .navbar-toggler-icon) {
  background-image: url(../../assets/menu.svg) !important;
}

:global(.navbar-collapse.show),
:global(.navbar-collapse.collapsing) {
  background-color: $brandDarkGrey;
  padding: 20px;
  margin-top: 20px;
}