@import '../../common/styles/common.module.scss';
@import '../../common/styles/colors.module.scss';

.container {
  margin: 0 auto;
  max-width: 100%;
  padding: $default-padding;
  width: 1400px;
}

.layout {
  @extend .container;
}

.header {
  background-color: $brandOrange;
  background-image: url(../../assets/img_bg@2x.png);
  background-repeat: no-repeat;
  background-size: 100%;
  display: block;
  height: 853px;
}

.footer {
  background-color: $brandOrange;
  color: white;
  display: block;
  font-size: 12px;
  height: 40px;
  padding-right: 20px;
  text-align: right;
}